body {
    background: url(http://chenminhua.kesug.com/img/explain/bj.jpg);
    font-family: "宋体";
}

#page {
    width: 960px;
    margin: 0 auto;
}

.imgBox {
    width: 960px;
    height: 260px;
    margin: 0 auto;
}

.imgBox img {
    width: 960px;
    height: 260px;
    margin: 0 auto;
}

.img1 {
    display: block;
}

.img2 {
    display: none;
}

.img3 {
    display: none;
}

.img4 {
    display: none;
}

.r_page {
    position: relative;
    text-align: left;
    height: 900px;
    border-style: dotted;
    border-width: 1px;
    top: 16px;
    width: 780px;
    float: right;
    background: url(http://chenminhua.kesug.com/img/explain/beij.gif);
}

.r_page:hover {
    border: 1px #996633 solid;
}

.right {
    position: relative;
    width: 50%;
    float: right;
    bottom: 720px;
}

.right a {
    color: #0072E3;
    text-decoration: none;
}

.right a:hover {
    color: #00FFFF;
}

.size {
    line-height: 40px;
}

.l_page {
    position: relative;
    float: left;
    bottom: 870px;
    right: 43px;
}

.l_page ul li {
    width: 145px;
    height: 50px;
    display: block;
    border-color: #996633;
    border-style: dotted;
    border-width: 1.5px;
    line-height: 44px;
    font-size: 16px;
    font-weight: bold;
    background: url(http://chenminhua.kesug.com/img/nav_bg.gif);
    margin-top: 20px;
}

.l_page ul li:hover {
    border: 2px #996633 solid;
}

.l_page ul .one {
    margin-top: 0px;
}

.l_page ul li a {
    color: #996633;
    text-decoration: none;
}

.clearit {
    clear: both;
}


.foot p {
    position: relative;
    bottom: 600px;
    text-align: center;
    line-height: 30px;
}